# Sample gitconfig
#
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[diff]
        tool = meld
[difftool]
        prompt = false
[credential]
        helper = cache
[alias]
        co = checkout
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[merge]
        tool = mymeld
[mergetool "mymeld"]
        cmd = meld "$LOCAL" "$MERGED" "$REMOTE"
[mergetool]
        keepBackup = false
[push]
        default = nothing
# pull will do a rebase instead of a merge
[pull]
        rebase = true
[fetch]
        prune = true

[core]
        excludesfile = ~/.gitignore
